a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

#exit-btn{
    float: right;
}

#contenedor{
    display: inline-block;
}

.column {
    float: left;
}

/* Clear floats after the columns */
.row {
    content: "";
    /*display: table;*/
    display: flex;
    clear: both;
    background-color: red;
    height: 100%;
    width: 100%;
}

#left {
width: 25%;
height: 100%;
background-color: #200752;
}

#right {
width: 75%;
height: 100%;
background-color: #100030;
}

html, body {
    margin:0px;
    height:100%;
}

#inputMsg{
    width: 79%;   
}
.inputButton{
    width: 9%;
}
#multimedia{
    width: 9%;
}

.message {
    border-radius: 20px;
    border: 1px solid #7b4cd9;
    border-collapse: collapse;
    background-color:#310c7a;
    font-size: 13px;

}

#form-log{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 100px;
}

#profile-label{
    margin-top: 10px; 
    float: left; 
}

#profile-pic{
    margin-left: 3px; 
    margin-top: 10px;
}

.roomsSection{
    height: 30%;
    max-height: 30%;
    overflow: hidden;
    overflow-y: scroll;
}

.usersSection{
    height: 30%;
    max-height: 30%;
    overflow: hidden;
    overflow-y: scroll;
}

.inputContainer{
    width: 100%;
}

select{
    width: 100%;
    height: 70%;
    background-color: #310c7a;
}

.messages{
    height:475px;
    max-height: 475px;
    overflow: scroll;
}

.title{
    font-family: 'Gloria Hallelujah', cursive;
}

.meta, .text{
    padding-left: 10px;
}

.userBtn, .roomsBtn{
    color: white;
    font-size: 20px;
    background: none;
    border: none;
    transition-duration: 0.4s;
    padding: 3px;
    padding-left: 10px;
}

.userBtn:hover, .roomsBtn:hover{
    background-color: #11021f;
}

.fileImage{
    max-width: 100px;
    max-height:100px;
    padding-left: 10px;
    padding-bottom: 5px;
}

a:active {
	display: initial;
}





